<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canvas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="canvas-wrapper">
      <canvas id="plate"></canvas>
    </div>
    <div id="controller">
      <div class="form">
        <div class="fields">
          <div class="field radio-field" v-for="(meta, name) in slots">
            <input type="radio" v-model="slot.name" :value="name" :id="'slot__'+name"><label :for="'slot__'+name">{{ meta.label }}</label>
          </div>
        </div>
        <div class="fields slot-layout-fields">
          <div class="field input-field" v-if="availableProps.indexOf('size') >= 0">
            <label for="slot_size">Hole Size:</label><input type="number" v-model="slot.size" id="slot_size" @keypress="checkNumber">
          </div>
          <div class="field input-field" v-if="availableProps.indexOf('centers') >= 0">
            <label for="slot_centers">Centers:</label><input type="number" v-model="slot.centers" id="slot_centers" @keypress="checkNumber">
          </div>
          <div class="field input-field" v-if="availableProps.indexOf('height') >= 0">
            <label for="slot_height">Slot Width:</label><input type="number" v-model="slot.height" id="slot_height" @keypress="checkNumber">
          </div>
          <div class="field input-field" v-if="availableProps.indexOf('width') >= 0">
            <label for="slot_width">Slot Length:</label><input type="number" v-model="slot.width" id="slot_width" @keypress="checkNumber">
          </div>
          <div class="field input-field" v-if="availableProps.indexOf('gap_y') >= 0">
            <label for="gap_y">Side Bar:</label><input type="number" v-model="slot.gap_y" id="slot_gap_y" @keypress="checkNumber">
          </div>
          <div class="field input-field" v-if="availableProps.indexOf('gap_x') >= 0">
            <label for="gap_x">End Bar:</label><input type="number" v-model="slot.gap_x" id="slot_gap_x" @keypress="checkNumber">
          </div>
        </div>
        <div class="fields">
          <div class="field radio-field" v-for="pattern in availablePatterns">
            <input type="radio" v-model="slot.pattern" :value="pattern.name" :id="'pattern__'+pattern.name"><label :for="'pattern__'+pattern.name">{{ pattern.label }}</label>
          </div>
          <hr>
          <div class="field radio-field">
            <input type="radio" v-model="slot.finish_type" value="unfinished" id="finish_type__unfinished"><label for="finish_type__unfinished">Unfinished</label>
          </div>
          <div class="field radio-field" v-if="slot.pattern!='d90'">
            <input type="radio" v-model="slot.finish_type" value="random" id="finish_type__random"><label for="finish_type__random">Finished Random</label>
          </div>
          <div class="field radio-field" v-if="slot.pattern!='d90'">
            <input type="radio" v-model="slot.finish_type" value="square" id="finish_type__square"><label for="finish_type__square">Finished Square</label>
          </div>
          <div class="field radio-field" v-if="slot.pattern=='d90'">
            <input type="radio" v-model="slot.finish_type" value="finished" id="finish_type__finished"><label for="finish_type__finished">Finished</label>
          </div>
        </div>
        <button id="btn_draw" class="btn" @click.stop="draw">Draw</button>
        <div class="drawing-description" v-if="message.desc">
          <div class="content"><b>{{ message.desc }}</b></div>
          <div class="content">{{ message.psi.toFixed(2) }} Holes PSI</div>
          <div class="content">{{ (message.oa*100).toFixed(2) }}% Open Area</div>
        </div>
      </div>
      <div class="error" v-if="message.error">{{ message.error }}</div>
    </div>
  </div>

  <script src="./utils.js"></script>
  <script src="./slot.js"></script>
  <script src="./round-slot.js"></script>
  <script src="./square-slot.js"></script>
  <script src="./hex-slot.js"></script>
  <script src="./square-end-slot.js"></script>
  <script src="./round-end-slot.js"></script>
  <script src="./canvas.js"></script>
  <script src="./vue.min.js"></script>
  <script>
    // 生成画布对象
    const canvas = new Canvas('canvas');

    const controller = new Vue({
      el: '#controller',
      data: function() {
        return {
          slot: {
            name: 'RoundSlot',
            pattern: 'd60',
            size: null,
            centers: null,
            width: null,
            height: null,
            gap_y: null,
            gap_x: null,
            finish_type: 'unfinished',
          },
          message: {
            error: null,
            desc: null,
            psi: null,
            oa: null,
          },
          slots: {
            'RoundSlot': {
              label: 'Round',
              slot: new RoundSlot(),
            },
            'SquareSlot': {
              label: 'Square',
              slot: new SquareSlot(),
            },
            'HexSlot': {
              label: 'Hex',
              slot: new HexSlot(),
            },
            'RoundEndSlot': {
              label: 'Round End Slot',
              slot: new RoundEndSlot(),
            },
            'SquareEndSlot': {
              label: 'Square End Slot',
              slot: new SquareEndSlot(),
            },
          },
          patterns: {
            d60: '60 Deg',
            d45: '45 Deg',
            hori: 'Side Staggered',
            vert: 'End Staggered',
            d90: 'Straight',
          },
        };
      },

      computed: {
        availableProps: function() {
          return this.currentSlot.getAvailableProps();
        },

        availablePatterns: function() {
          const patterns = this.currentSlot.getAvailablePatterns();
          if (patterns.indexOf(this.slot.pattern) < 0) {
            this.slot.pattern = patterns[0];
          }
          const labels = this.patterns;
          return patterns.map(pattern => {return {name:pattern,label:labels[pattern]}});
        },

        currentSlot: function() {
          return this.slots[this.slot.name].slot;
        },
      },

      methods: {
        checkNumber: function(event) {
          // 不允许正负号
          if (event.key == '-' || event.key == '+') {
            event.preventDefault();
          }
        },

        draw: function() {
          const msg = this.message;
          msg.error = null;
          msg.desc = null;
          msg.psi = null;
          msg.oa = null;

          const props = {
            pattern: this.slot.pattern,
            finish_type: this.slot.finish_type,
          };
          this.availableProps.forEach(prop => {
            props[prop] = n(this.slot[prop]);
          });

          const slot = this.currentSlot;
          const error = slot.init(props).validate();
          if (error) {
            this.message.error = error;
          } else {
            canvas.clear().fillStyle('#0d4c61');
            slot.draw(canvas);
            msg.desc = slot.getDescription();
            msg.psi = slot.getHolesPerSquareInch();
            msg.oa = slot.getOpenArea();
          }
        },
      },
    });
  </script>
</body>
</html>
